<div class="container">
  <div class="grid product">
    <div class="column-xs-12 column-md-7">
      <h1>Цветок</h1>
      <div class="product-gallery">
        <div class="product-image">
          <img class="active" src="{{Plant.images}}" alt="no photo">
        </div>

      </div>
    </div>
    <div class="column-xs-12 column-md-5">
      <div class="description">
        <p>{{Plant.description}}</p>
        <!-- <p><i class="bi bi-droplet"></i> Полив: {{Plant.watering || "не указано"}}</p>
        <p><i class="bi bi-brightness-high"></i> Солнце: {{Plant.sunlight || "не указано"}}</p>
        <p><i class="bi bi-thermometer-half"></i> Температура: {{Plant.temperature || "не указано"}}</p> -->
      </div>
    </div>
  </div>
</div>
